#main-content{
        min-height: 100vh;
        margin-top: 70px;
}
#products-title {
	padding: 40px 10px;
	margin: auto;
	text-align: center;
	color: #cfcfcf;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#products-title > h1 {
	margin-bottom: 15px;
	color: #d9e330;
	padding: 5px 25px;
	border-radius: 10px;
}
#products-title > h4{
    max-width: 550px;
}
#products-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: auto;
	max-width: 1000px;
    margin: auto;
	color: #cfcfcf;
	font-family: 'Share Tech Mono', monospace;
}
#products-grid > img{
    width: 100%;
}
#products-grid > h4{
text-align: center;
}
#products-grid > button {
	background: #d9e330;
	padding: 10px 15px;
	border-radius: 10px;
	margin: auto;
	text-decoration: none;
	color: #343333;
	border: none;
}
#products-grid > h2 {
	grid-column: 1/-1;
	font-family: "Catamaran", sans-serif;
	border-bottom: solid 1px #ffffff1a;
}
#products-grid > a{
	color: #cfcfcf;
	text-align: center;
	text-decoration: none;
}
#products-grid > p{
text-justify: auto;
font-family: "Catamaran", sans-serif;
}
#products-grid > *{
	padding: 15px;
}