nav {
	width: 100%;
	background: #222;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	margin: auto;
	position: fixed;
	transition: box-shadow 200ms;
	z-index: 20;
	background-size: cover;
	top: 0;
}
  nav:hover {
    /* box-shadow: 0px 0px 6px 1px rgb(3, 16, 9), 0px 1px 5px 0px rgb(19, 91, 49); */
    border-bottom: solid 1px #222b12;
  }
  #logo {
      width: 12em;
  }
  #main-menu {
      margin: 0;
      color: white;
      display: flex;
      height: 100%;
      width: 60%;
    justify-content: space-evenly;
  }
  #main-menu > div {
      font-family: "Mina", sans-serif;
      font-size: 1.1em;
      height: 100%;
      display: flex;
    flex-direction: column;
    width: 100%;
    /*change this to manage submenus*/
    overflow: hidden;
  }
  .nav-menu-container{
  height: 100%;
  }
  .nav-menu-container > p {
      line-height: 70px;
      text-align: center;
      cursor: pointer;
  }
  .nav-menu-container > p:hover{
    color: #d9e330;
  }
  .sub-menu-container {
      display: flex;
      flex-direction: column;
      width: 150%;
      border-left: solid #0000004d 1px;
      border-right: solid #0000004d 1px;
  }
  
  .sub-menu-container > a {
      text-decoration: none;
      color: #0d4023;
      padding: 8px;
      border-bottom: solid #0000004d 1px;
      height: 100%;
    width: 100%;
    background: white;
    cursor: pointer;
  }
  .sub-menu-container > a:hover {
    background: rgb(204, 243, 203);
  }
  #access-menu {
	width: 10%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	max-width: 100px;
	font-size: 0.8em;
}
#access-menu > div {
  display: inline;
  margin-left: 10px;
}